body {
  font-family: "Roboto", sans-serif;
}
#logo {
  width: 40%;
  margin-top: 30px;
}
.custom-nav {
  font-size: 20px;
  background-color: black;
}

.img-icon {
  margin: 10px;
  height: auto;
  width: 30px;
}
#container-head1 {
  background-color: rgb(81, 117, 99);
  padding: 20px;
}
.circle-pets {
  width: 220px;
  height: 220px;
}
.no-link-style {
  color: inherit; /* Utiliza el color heredado */
  text-decoration: none; /* Sin subrayado */
}

.image-container img {
  transition: transform 0.3s; /* Transición suave de aumento de escala */
}

.image-container a {
  text-decoration: none;
  color: #333;
  transition: text-decoration 0.3s; /* Transición suave de subrayado */
}

.image-container:hover img {
  transform: scale(1.1); /* Aumento de escala al pasar el mouse */
}

.image-container:hover a {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}
.container-categories p {
  font-size: 20px;
}
.container-service {
  margin: 55px;
  border: 3px solid rgb(81, 117, 99);
  padding: 50px;
  height: auto;
  width: 250px;
}
.container-servicios {
  animation: pulseShrink 3s infinite;
}
@keyframes pulseShrink {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(
      0.9
    ); /* Ajusta el factor de escala según tus preferencias */
  }
}
.container-servicios img {
  width: 180px;
  height: auto;
}
.container-service h4 {
  margin-top: 30px;
  color: rgb(81, 117, 99);
}
#container-brands img {
  height: auto;
  width: 300px;
}
#container-about-us {
  background-color: rgb(81, 117, 99);
  padding: 40px;
}
#container-about-us p {
  font-size: 20px;
}
#mapa {
  width: 90%;
  height: 300px; /* Altura del mapa en píxeles */
}
.container-contact {
  background-color: rgb(81, 117, 99);
  font-size: 30px;
  padding: 30px;
}
.container-contact svg {
  height: auto;
  width: 30px;
}
.hr-center {
  width: 90%; /* Ajusta el ancho deseado del hr */
  margin: 0 auto; /* Centra horizontalmente el hr en su contenedor */
  border-style: solid; /* Cambia el estilo de la línea según tu preferencia (puedes usar dashed, dotted, etc.) */
  border-width: 3px; /* Ancho de la línea */
  border-color: #808080; /* Color de la línea */
}
.container-products img {
  height: 300px;
  width: auto;
}
.container-products .card {
  width: 15rem;
  height: 27rem;
}
/* Fondo y Margen */
.sobre-nosotros {
  background-color: #f8f8f8; /* Fondo suave */
  padding: 30px; /* Espaciado interior */
  margin-bottom: 20px; /* Espaciado inferior */
}

/* Tipografía */
.sobre-nosotros h2 {
  font-size: 24px; /* Tamaño del título */
  color: #333; /* Color del texto del título */
  margin-bottom: 15px; /* Espaciado inferior */
}

.sobre-nosotros span {
  font-size: 19px; /* Tamaño del texto */
  line-height: 1.5; /* Espaciado entre líneas */
  color: #666; /* Color del texto */
  text-align: center; /* Texto justificado */
  justify-content: center;
}

/* Borde Redondeado */
.sobre-nosotros {
  border-radius: 10px; /* Bordes redondeados */
}

/* Sombra */
.sobre-nosotros {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Hover Efecto */
.sobre-nosotros:hover {
  background-color: #fff; /* Cambio de fondo en el hover */
  transform: scale(1.02); /* Escalado suave en el hover */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave */
}
.vibrate {
  animation: vibrate 2s cubic-bezier(0.2, 0.4, 0.8, 1.2) infinite;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-2px);
  }
  20% {
    transform: translateX(2px);
  }
  30% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
.vibrate-up-down {
  animation: vibrateUpDown 2s cubic-bezier(0.2, 0.4, 0.8, 1.2) infinite;
}

@keyframes vibrateUpDown {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-2px);
  }
  20% {
    transform: translateY(2px);
  }
  30% {
    transform: translateY(-2px);
  }
  40% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

.fade-in-img {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
a {
  text-decoration: none; /* Elimina el subrayado */
  color: black; /* Cambia el color del texto (puedes ajustarlo según tus preferencias) */
}
